{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports","prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["tv"],
  "importOrder": ["^@/app/(.*)$", "^@/core/(.*)$", "^@/design-system/(.*)$", "^@/shared/(.*)$", "^@/tooling/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
